Body{ 
    height: 3004px;
    background-color: rgb(225, 0, 251);
    background-image: linear-gradient(to top,Yellow, rgb(255, 0, 251))}
.p{color:white}
#img1 {
  clip-path: 
  circle(50%);
  border-radius: 50%;
  margin: auto;
  border:5px solid #fffcff;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
animation: colorChange 4s infinite alternate;     
}
.Enamedate{
  height: 150px;
  width: 50px;
  background-color: #000000;
  margin: auto;
  width: 50%;
  border: 6px solid #ffffff;
  padding: 10px;
  border-radius: 10px;
animation: colorChange 4s infinite alternate; }
.v{
  font-family: "Courier New";
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  animation-name: Slidetoright;
  animation-duration: 5s;}
@keyframes Slidetoright{
  0%{
    opacity: 0;
    transform: translateX(-100px); 
  }
  100%{opacity: 1;
  transfrom:translateX(0px)}
}
.Edex {
  height: 650px;
  width: 50px;
  background-color: #000000;
  margin: auto;
  width: 50%;
  border: 6px solid #ffffff;
  padding: 10px;
  border-radius: 10px;
  animation-name: Topr;
  animation-duration: 5s;
  animation: colorChange 4s infinite alternate; 
}
@keyframes Topr{
  0% {
    height: 100px; 
  }
  100% {
    height: 650px; 
  }
  
}
.Googlyeye{
    
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
div.AA {
    float: right;
  width: 150px;
  height: 80px;
  background-color: rgb(229, 255, 0);
  transform: skewY(20deg);
}
div.AB {
    float: right;
  width: 150px;
  height: 80px;
  background-color: rgb(229, 255, 0);
  transform: skewY(20deg);
}
div.AC {
    float: right;
  width: 150px;
  height: 80px;
  background-color: rgb(229, 255, 0);
  transform: skewY(20deg);
}
div.AD {
    float: right;
  width: 150px;
  height: 80px;
  background-color: rgb(229, 255, 0);
  transform: skewY(20deg);
}
@keyframes colorChange {
  0% {
    border-color: rgb(255, 0, 251);
  }

  100% {
    border-color: rgb(234, 179, 76);
  }
}
.flip-card {
  border: 5px solid rgb(0, 0, 0);
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid rgb(255, 238, 0);
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #110e00;
  color: black;
}

.flip-card-back {
  background: linear-gradient(to bottom, rgb(253, 0, 219), rgb(229, 255, 0));;
  color: white;
  transform: rotateY(180deg);
}
.e{
  text-transform: uppercase;
  color: #ffffff;
  animation-name: Slidetoright;
  animation-duration: 5s;}
@keyframes Slidetoright{
  0%{
    opacity: 0;
    transform: translateX(-100px); 
  }
  100%{opacity: 1;
  transfrom:translateX(0px)}
}
.center {
  margin: auto;
  width: 30%;

  padding: 10px;
}
.button {
  background-color: #ff00ff; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button5 {border-radius: 50%;}